<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>DupperRewards</strong> por <a href="#">DuperTeach</a>. Todos los derechos reservados.
      </p>
    </div>
  </footer>
  