<footer class="footer">
  <style>
    /* Ajustes para el pie de página */
    .footer {
        background-color: #f5f5f5;
        padding: 20px 0;
        text-align: center;
        width: 100%;
      
        bottom: 0;
        left: 60px; /* Asegura que esté pegado al borde izquierdo */
    }
    .footer a {
        color: #007bff;
        text-decoration: none;
    }
</style>

  <div class="content has-text-centered">
      <p>
          <strong>Powered</strong> by DuperTech.
      </p>
  </div>
</footer>
