<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <%- include('includes/head') %> <!-- Partial para el head -->
    </head>
    <body>

        
        <%- include('includes/footer') %> <!-- Partial para el footer -->
    </body>
</html>