<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <%- include('includes/head') %> 
        <body>
            <%- include('includes/sidebar') %>
            
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="box has-text-centered">
                      
                        <img class="image is-4by3" src="images/GRAF1.pnG" />
                        <div class="block">
                            Gráfica de consulta.
                        </div>
                      
                    </div>
                    No reporte final, puesta por fines de demostración.*
                </div>
                <div class="column is-one-third">
                    <div class="box has-text-centered">
                        <img class="image is-4by3" src="images/GRAF2.png" />
                        <div class="block">
                            Reporte de consulta.
                        </div>
                     
                    </div>
                    No reporte final, puesta por fines de demostración.*
                </div>
            </div>
        
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="box has-text-centered">
                        <img class="image is-4by3" src="images/GRAF3.png" />
                        <div class="block">
                            Gráfica de consulta.
                        </div>
                        
                    </div>
                    No reporte final, puesta por fines de demostración.*
                </div>
                <div class="column is-one-third">
                    <div class="box has-text-centered">
                        <img src="images/GRAF4.png" />
                        <div class="block">
                            Reporte de consulta.
                        </div>
                     
                    </div>
                    No reporte final, puesta por fines de demostración.*
                </div>
            </div>
        </body>
        
        

        
        
        
        <%- include('includes/footer') %> <!-- Partial para el footer -->
    </body>
</html>