<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <%- include('includes/head') %> <!-- Partial para el head -->
        <body>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="box has-text-centered">
                        <!-- Agregamos la clase `is-4by3` para un tamaño de imagen más grande -->
                        <img class="image is-4by3" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-abLYR-P6HC0%2FVwsh7tNbLYI%2FAAAAAAAAAw4%2FIelx4jI-NZQw38gm48FSBatQwBwTKH3oA%2Fs1600%2F2016-04-10_2301_IPC_Vs_USD.png&f=1&nofb=1&ipt=6565a72abe0a834cb96eac1e52554b5fa093967c67c530c3b52e87b398568c3d&ipo=images" />
                        <div class="block">
                            Gráfica de consulta.
                        </div>
                      
                    </div>
                    No reporte final, puesta por fines de demostración.*
                </div>
                <div class="column is-one-third">
                    <div class="box has-text-centered">
                        <!-- Agregamos la clase `is-4by3` para un tamaño de imagen más grande -->
                        <img class="image is-4by3" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F-yrdQyMv710A%2FVxY75qLrPrI%2FAAAAAAAAAxY%2FajX0zfvFKdM556K1_4Yfudmtsd7fa4JEACKgB%2Fs1600%2FMargenes%252BFabricato.JPG&f=1&nofb=1&ipt=ee65c6902f59013f902129b62af331e6c4f6ef619b7debc39bbcedf409414350&ipo=images" />
                        <div class="block">
                            Reporte de consulta.
                        </div>
                     
                    </div>
                    No reporte final, puesta por fines de demostración.*
                </div>
            </div>
        
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="box has-text-centered">
                        <!-- Agregamos la clase `is-4by3` para un tamaño de imagen más grande -->
                        <img class="image is-4by3" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.recope.go.cr%2Fwp-content%2Fuploads%2F2016%2F10%2Fgrafico-ventas.jpg&f=1&nofb=1&ipt=8f3eeb26ea4ea919839a6c8baf43dc91f8e1d445122a17f1b98ae387ec68a3b9&ipo=images" />
                        <div class="block">
                            Gráfica de consulta.
                        </div>
                        
                    </div>
                    No reporte final, puesta por fines de demostración.*
                </div>
                <div class="column is-one-third">
                    <div class="box has-text-centered">
                        <!-- Agregamos la clase `is-4by3` para un tamaño de imagen más grande -->
                        <img class="image is-4by3" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.h4_0atz6rU6w3uYLlTP8sQAAAA%26pid%3DApi&f=1&ipt=fc6f6c4eee63a60ae44419fb788eeb1bb1420e4d0653eba165c6dd8be01fda3e&ipo=images" />
                        <div class="block">
                            Reporte de consulta.
                        </div>
                     
                    </div>
                    No reporte final, puesta por fines de demostración.*
                </div>
            </div>
        </body>
        
        

        
        
        
        <%- include('includes/footer') %> <!-- Partial para el footer -->
    </body>
</html>